  <div id="login-card" class="container align-self-center">
                <%= form_with(model: @user) do |form| %>
                    <fieldset>
                        <legend>Sign up</legend>
                        <p id="notice"><%= notice %></p>
                        <div class="field">
                         <div class="mb-3 row">
                            <%= form.label :username, class: "col-sm-2 col-form-label" %>
                            <div class="col-sm-8">
                                <%= form.text_field :username, class: "form-control" %>
                            </div>          
                        </div>     
                        <div class="mb-3 row">
                            <%= form.label :email, class: "col-sm-2 col-form-label" %>
                            <div class="col-sm-8">
                                <%= form.text_field :email, class: "form-control" %>
                            </div>          
                        </div>      
                         <div class="mb-3 row">
                            <%= form.label :password, class: "col-sm-2 col-form-label" %>
                            <div class="col-sm-8">
                                <%= form.password_field :password, class: "form-control" %>
                            </div>          
                        </div>    
                         <div class="mb-3 row">
                            <%= form.label :password_confirmation, class: "col-sm-2 col-form-label" %>
                            <div class="col-sm-8">
                                <%= form.password_field :password_confirmation, class: "form-control" %>
                            </div>          
                        </div>    
                        <div class="group-btn actions">            
                            <%= submit_tag "Sign up", class: "btn btn-form" %>
                            <button type="button" class="btn btn-form"><%= link_to 'Login', login_path %></button>
                        </div>           
                    </fieldset>
                <% end %>
    </div>